.settings
.classpath
.project
.idea
*.iml
.gradle
nl.finalist.liferay.lam.api/src/main/resources/WEB-INF/portal.properties
TestStartupHook/gradlew
TestStartupHook/gradlew.bat
TestStartupHook/bin/
TestStartupHook/gradle/cee23bd9932aef87838381b4c587c440bdbf3423
nl.finalist.liferay.lam.api/src/main/java/nl/finalist/liferay/lam/api/MainPortalValuesChecking.java
TestStartupHook/gradle/
nl.finalist.liferay.lam.api/doc/allclasses-frame.html
nl.finalist.liferay.lam.api/doc/package-list
nl.finalist.liferay.lam.api/doc/overview-tree.html
nl.finalist.liferay.lam.api/doc/nl/finalist/liferay/lam/api/package-use.html
nl.finalist.liferay.lam.api/doc/nl/finalist/liferay/lam/api/package-tree.html
nl.finalist.liferay.lam.api/doc/nl/finalist/liferay/lam/api/package-summary.html
nl.finalist.liferay.lam.api/doc/allclasses-noframe.html
nl.finalist.liferay.lam.api/doc/constant-values.html
nl.finalist.liferay.lam.api/doc/deprecated-list.html
nl.finalist.liferay.lam.api/doc/help-doc.html
nl.finalist.liferay.lam.api/doc/index-files/index-1.html
nl.finalist.liferay.lam.api/doc/index-files/index-2.html
nl.finalist.liferay.lam.api/doc/index-files/index-3.html
nl.finalist.liferay.lam.api/doc/index.html
nl.finalist.liferay.lam.api/doc/nl/finalist/liferay/lam/api/PortalPropertiesImplementation.html
nl.finalist.liferay.lam.api/doc/nl/finalist/liferay/lam/api/class-use/PortalPropertiesImplementation.html
nl.finalist.liferay.lam.api/doc/nl/finalist/liferay/lam/api/package-frame.html
nl.finalist.liferay.lam.api/doc/script.js
nl.finalist.liferay.lam.api/doc/stylesheet.css
