.settings
.classpath
.project
.idea
*.iml
.gradle
TestStartupHook/gradlew
TestStartupHook/gradlew.bat
TestStartupHook/bin/
TestStartupHook/gradle/
build

.metadata
gradlew
gradle/
gradlew.bat
nl.finalist.liferay.lam.api/out/
